.badge-wrapper {
  display: flex;
  column-gap: 16px;
}

.badge {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--sl-color-gray-4);
  padding: 6px 12px;
  border-radius: 8px;

  & [data-icon] {
    width: 1.25rem;
    height: 1.25rem;
    & > * {
      color: var(--sl-color-gray-2) !important;
      fill: var(--sl-color-gray-2) !important;
    }
  }

  &:hover {
    background-color: var(--sl-color-gray-5);
  }
}

.version {
  line-height: 1;
}
