/* Dark mode colors. */
:root {
	--sl-color-accent-low: #202800;
	--sl-color-accent: #627300;
	--sl-color-accent-high: #c2d09a;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #e7edff;
	--sl-color-gray-2: #afc0f4;
	--sl-color-gray-3: #6984e6;
	--sl-color-gray-4: #394eab;
	--sl-color-gray-5: #1e2984;
	--sl-color-gray-6: #11126f;
	--sl-color-black: #0c133a;
	--color-point: #7e86d7;
	--color-primary: #10b981;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #d2ddb4;
	--sl-color-accent: #617200;
	--sl-color-accent-high: #2e3700;
	--sl-color-white: #0c133a;
	--sl-color-gray-1: #11126f;
	--sl-color-gray-2: #1e2984;
	--sl-color-gray-3: #394eab;
	--sl-color-gray-4: #6984e6;
	--sl-color-gray-5: #afc0f4;
	--sl-color-gray-6: #e7edff;
	--sl-color-gray-7: #f3f6ff;
	--sl-color-black: #ffffff;
	--color-point: #1a237e;
}
body {
  & .sl-link-button {
    border-radius: 8px;
  }
}